<h1>Nuevo Contacto</h1>
<form action="/" method="POST">
  <input name="nombres" placeholder="Nombres" required>
  <input name="apellidos" placeholder="Apellidos" required>
  <input type="cedula_profesional" name="cedula_profesional" required>
  <input name="especialidad" placeholder="especialidad" required>
  <input name="anios_experiencia" placeholder="anios_experiencia" required>
  <input name="correo_electronico" placeholder="correo_electronico" required>
  <button type="submit">Guardar</button>
</form>
